{% extends 'base.html' %}
{% block title %} Blood Donation {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div class="container-fluid shadow-lg bg-light">
       <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="container-fluid shadow-lg bg-light">
                <h2><strong>Edit Profile</strong></h2><br>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-info">Save Changes</button>
                </form><br>
            </div>
           </div>
        </div>
    </div>
    

</body>
</html>
{% endblock %}