{% extends 'base2.html' %}
{% block content %}

<div class="container my-4">
{% if requests %}
<h3 class="text-center">My Requests Status</h3>
<br>
<table class="table table-sm table-bordered">
  <tr class="table-danger">
    <th>Blood Group</th>
    <th>Need Date</th>
    <th>City | Address</th>
    <th>Status</th>
  </tr>
  {% for i in requests %}
    <tr>
      <td>{{i.blood_group}}</td>
      <td>{{i.date}}</td>
      <td>{{i.city}} | {{i.address}}</td>
      <td>
        {% if i.status == 0 %}
        <a  class="btn btn-warning" >Pending</a>
        {% elif i.status == 1 %}
        <button class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Approved</button>
        {% elif i.status == 2 %}
        <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Disapproved</button>
        {% endif %}
        </td>
    </tr>
  {% endfor %}
</table>
{% else %}
<h2>No Blood Request Available</h2>
{% endif %}
</div>
{% endblock %}
