{% extends 'base.html' %}
{% block title %} Blood Donation {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-img ">
                <img src="{{details.image.url}}" alt="" class="img-fluid rounded-circle shadow-lg" width="150px" height="150px">
            </div>
        </div>
        <div class="col-md-6" >
            <div class="container-fluid shadow-lg bg-light" style="background-color: #1111"><br>
                <h4 class="text-center"><strong>{{details.donor}}</strong></h4><br>
                 <p> <strong>Fullname : </strong>{{details.donor.get_full_name}}</p>
                 <p><strong>Blood Group : </strong>{{details.blood_group}}</p>
                 <p><strong>Last Donate : </strong>{{details.last_donate}}</p>
                 <p><strong>Email :  </strong>{{details.donor.email}}</p>
                 <p><strong>Phone :  </strong>{{details.phone}}</p>
                 <p><strong>Gender :  </strong>{{details.gender}}</p>
                 <p><strong>Date of Birth : </strong>{{details.date_of_birth}}</p>
                 <p><strong>Division : </strong> {{details.state}}</p>
                 <p><strong>District : </strong> {{details.city}}</p>
                 <p><strong>Address : </strong> {{details.address}}</p><br><br>
             </div>
        </div>
    </div>
</div>
{% endblock %}
