{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Document</title>

  <style>
    .navbar {
        {% comment %} background-color:linear-gradient(135deg, #ffffff, #a3d2ee); {% endcomment %}
        background-color: hsl(218, 71%, 25%);
    }
    body
    {
        background-color:;
    }

    {% comment %} select option {
      color: white;  /* Set the color you want for the placeholder text */
    } {% endcomment %}
</style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow-lg">
    <a class="navbar-brand" style="color:"><strong>Blood Donation Management System</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="container w-75">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/" style="color:white; margin:2px 30px 0px 0px">Home</a>
            <a class="nav-item nav-link active" href="/about_us/" style="color:white; margin:2px 30px 0px 0px">About Us</a>
            <label class="nav-item nav-link active" style="color:;margin:2px 0px 0px 20px" for="register">Register</label>
            <select id="register" style="background-color:hsl(218, 71%, 25%);color:white">
                <option value="" >Pick an option</option>
                <option value="/become_donor/">As a donor</option>
                <option value="/become_patient/">As a Patient</option>
            </select> 
            <script>
                document.getElementById("register").onchange = function() {
                    if (this.selectedIndex!==0) {
                        window.location.href = this.value;
                    }     
                };
            </script>
            
            <label class="nav-item nav-link active" style="color:; margin:2px 0px 0px 20px" for="login">Login</label>
            <select id="login" style="background-color:hsl(218, 71%, 25%);color:white">
                <option value="">Pick an option</option>
                <option value="/donor_login/">donor</option>
                <option value="/patient_login/">Patient</option>
                <option value="/admin_login/">Admin</option>
            </select>
            <script>
                document.getElementById("login").onchange = function() {
                    if (this.selectedIndex!==0) {
                        window.location.href = this.value;
                    }     
                };
            </script>
           
        </div>
    </div>
   </div>
</nav> 
    
<div class="container-fluid">
  <div class="album py-5" style="background:linear-gradient(135deg, #ffffff, #a3d2ee);">
    <div class="row">
        <div class="col-md-5"><br>
            <img src="{% static 'image/blood-icon.png' %}" alt="ICON" width="70" height="70">
            <p style="color:hsl(225, 68%, 53%)"><strong>Welcome To the Blood Bank</strong></p>
            <h2 style="color:hsl(218, 71%, 20%);">Connecting The Donors...</h2>
            <p class="hero-text">
              Our mission is to bridge the gap between blood donors and recipients, providing a seamless and efficient experience for both parties.
              You can trust us,
              we provide the best service...
            </p>
          </div>
        <div class="col-md-7">
            <img src="{% static 'image/home.png' %}" alt="ICON" width="100%" height="105%">
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="album py-5" style="background:linear-gradient(135deg, #ffffff, #a3d2ee);">
      <h4 class="text-center"><strong>Available Donors According To Blood Group</strong></h4><br>
      <div class="container">
          <div class="row">
           {% for i in all_group %}
           <div class="col-md-4">
              <div class="card mb-4 shadow-lg border-success">
              <div class="card-body">
              <h5 class="card-text">Blood Group:<strong>{{i.name}}</strong></h5>
              <h5 class="card-text">Total :<strong>{{i.total}}</strong></h5>
              <div class="d-flex justify-content-between align-items-center">
              <a href="/donors_list/{{i.id}}/" class="btn btn-sm btn-info">View All Donors</a>
              </div>
              </div>
              </div>
           </div>
          {% endfor %}
         </div>
      </div>
    </div>
  </div>

  <footer class="footer" style="background-color: hsl(218, 71%, 20%)" >
    <div class="footer-top section" >
      <div class="row">
        <div class="col-md-5">
          <div class="container" >
             <h4 Donation ><strong style="color:red">Blood</strong> <strong style="color:white">Donation Management System</strong></h4><br>
              <p style="color: white">
                We are passionate about connecting blood donors with recipients and bridging the gap in the healthcare industry. 
                We strive to create a community that fosters empathy, support, and solidarity among individuals who are committed to making a difference.
              </p> <br>
          </div>
        </div>
        <div class="col-md-5">
          <div class="container shadow-lg">
              <br><p class="text-center" style="color: white"> Contact Us </p>
              
              <i class="fas fa-envelope" style="color: white;margin: 0px 0px 20px 200px"></i>
              <a style="color: white">Email : csajibbd@gmail.com</a>

              <i class="fas fa-phone" style="color: white;margin: 0px 0px 20px 200px"></i>
              <a style="color: white">Phone : 01864963357</a><br>
             
               <i class="fab fa-linkedin-in" style="color: white;margin: 0px 5px 20px 200px"></i>
              <a href="#" class="text-center" style="color: white">Linkedin</a><br>
          </div>
        </div>
    </div>
  </div>
  </footer>

</body>
</html>

