@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main_box{
  position: relative;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.main_box .sidebar_menu{
  position: fixed;
  height: 100vh;
  width: 280px;
  left: -280px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}

.sidebar_menu .menu ul{
  list-style-type: none; 
  padding: 0;
}

.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
}

.sidebar_menu .menu ul li:before {
  content: none; /* Remove default bullet point */
}

.sidebar_menu .menu i{
  color: #06addc;
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}


#check{
  display: none;
}
.main_box .btn_one i{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;  
}
 .sidebar_menu .btn_two i{
  color: #e87474;
  font-size: 30px;
  line-height: 35px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}

/*ABOUT*/

.about { padding-block-end: 0; }

.about-banner { margin-block-end: 50px; }

.about .section-text-1 { margin-block: 25px 15px; }

.about .btn {
  font-size: unset;
  max-width: max-content;
  margin-block-start: 30px;
  padding-inline: 15px;
}





/*DOCTOR*/

.doctor .section-title { margin-block-end: 50px; }

.doctor-card .card-banner {
  border-radius: var(--radius-4);
  overflow: hidden;
  margin-block-end: 25px;
}

.doctor-card {
  padding: 30px;
  border: 1px solid var(--light-gray);
  border-radius: var(--radius-4);
  text-align: center;
  min-height: 100%;
}

.doctor-card .card-title {
  font-size: var(--fs-4);
  transition: var(--transition);
}

.doctor-card:is(:hover, :focus-within) .card-title { color: var(--royal-blue-light); }

.doctor-card .card-subtitle {
  color: var(--royal-blue-light);
  margin-block: 10px 15px;
}

.doctor-card .card-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.doctor-card .card-social-link {
  background-color: var(--lavender-web);
  color: var(--royal-blue-light);
  font-size: 16px;
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition);
}

.doctor-card .card-social-link:is(:hover, :focus) {
  background-color: var(--royal-blue-light);
  color: var(--white);
}

.has-scrollbar {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  margin-inline: 15px;
  padding-block-end: 40px;
  margin-block-end: -20px;
  scroll-snap-type: inline mandatory;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar { height: 10px; }

.has-scrollbar::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: var(--radius-4);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--royal-blue-light);
  border-radius: var(--radius-4);
}

.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 30px); }




:root {

  /**colors*/

  --light-steel-blue: hsl(218, 33%, 77%);
  --royal-blue-light: hsl(225, 68%, 53%);
  --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
  --carolina-blue: hsl(201, 92%, 47%);
  --oxford-blue-1: hsl(218, 70%, 18%);
  --oxford-blue-2: hsl(217, 100%, 12%);
  --oxford-blue-3: hsl(218, 71%, 11%);
  --gainsboro_50: hsla(0, 0%, 85%, 0.5);
  --lavender-web: hsl(225, 67%, 91%);
  --sonic-silver: hsl(0, 0%, 47%);
  --light-gray: hsl(0, 0%, 84%);
  --cultured: hsl(0, 0%, 97%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_8: hsla(0, 0%, 0%, 0.08);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);

  /*gradient color*/

  --gradient: linear-gradient( 90deg, var(--carolina-blue) 0%, var(--royal-blue-light) 100%);

  /*typography*/
}









